# Recommendation System (Random Forest)

In [9]:
!pip install Sastrawi

Requirement already satisfied: Sastrawi in d:\dwike\skripsi\venv\lib\site-packages (1.0.1)

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'D:\Dwike\Skripsi\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [10]:
# import all the libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import re
import string

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, classification_report
from sklearn.base import BaseEstimator, TransformerMixin

# NLTK
import nltk
from nltk.tokenize import word_tokenize

# Sastrawi
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory, StopWordRemover, ArrayDictionary
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory


import warnings
warnings.filterwarnings("ignore")
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
df = pd.read_excel("train.xlsx")

In [12]:
df.head(2)

,no,nama,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,1,DYAH AYU,akuntansi,Minat terhadap aktivitas yang berhubungan deng...,Bakat terhadap aktivitas yang berhubungan deng...,"SEJARAH, GEOGRAFI",89,PETANI,Meninggal,golongan 2
1,2,Muhammad isyak rizqi,teknik informatika,Minat terhadap aktivitas yang berhubungan deng...,Bakat terhadap aktivitas yang berhubungan deng...,komputer,96,WIRAUSAHA,Meninggal,golongan 2

* Notice that all the value of categorical columns isn't in standard value for text.

* We also going to delete `no` and `nama` columns since its was useless for our model

In [13]:
# Drop no and nama
df.drop(["no", "nama"], axis=1, inplace=True)

## Text cleaning/Preprocessing

In [14]:
# select category columns
text_cols = df.select_dtypes(exclude="int64").columns
print(text_cols)

Index(['prodi', 'minat', 'bakat', 'mapel', 'ibu', 'ayah', 'penghasilan'], dtype='object')

### Case Folding

In [15]:
# 1.lowercase
def lowercase(text):
  return text.lower()

for col in text_cols:
  df[col] = df[col].apply(lowercase)

display(df[text_cols].head(3))

,prodi,minat,bakat,mapel,ibu,ayah,penghasilan
0,akuntansi,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,"sejarah, geografi",petani,meninggal,golongan 2
1,teknik informatika,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,komputer,wirausaha,meninggal,golongan 2
2,teknik informatika,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,"biologi, bahasa inggris, bahasa indonesia",ibu rumah tangga,petani,golongan 2

In [16]:
# 2. Removing numbers (excluding: penghasilan)
def remove_numbers(text):
  text = re.sub(r"\d+", "", text)
  return text

for col in text_cols[:-1]: # excluding penghasilan
  df[col] = df[col].apply(remove_numbers)

In [17]:
# 3. Removing punctation
def remove_punctation(text):
  text = text.translate(str.maketrans("","",string.punctuation))
  return text

for col in text_cols:
  df[col] = df[col].apply(remove_punctation)

In [18]:
# 4. Removing all whitespace
for col in text_cols:
  df[col] = df[col].str.strip()

In [19]:
display(df.head())

,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,akuntansi,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,sejarah geografi,89,petani,meninggal,golongan 2
1,teknik informatika,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,komputer,96,wirausaha,meninggal,golongan 2
2,teknik informatika,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,biologi bahasa inggris bahasa indonesia,96,ibu rumah tangga,petani,golongan 2
3,teknik elektro,minat terhadap aktivitas yang berkaitan dengan...,bakat terhadap aktivitas yang berkaitan dengan...,mtk,91,karyawan swasta,karyawan swasta,golongan 5
4,teknik informatika,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,bahasa inggris bahasa indonesia sejarah,96,ibu rumah tangga,pns,golongan 5

### Tokenizing

In [20]:
from nltk.tokenize import word_tokenize
import nltk

minat_1 = df["minat"][0]

minat_tokenizer = nltk.tokenize.word_tokenize(minat_1)
print(minat_tokenizer)

['minat', 'terhadap', 'aktivitas', 'yang', 'berhubungan', 'dengan', 'tugastugas', 'rutin', 'yang', 'memerlukan', 'ketelitian', 'dan', 'ketepatan', 'dalam', 'perhitungan']

In [21]:
# implement tokenizer
def tokenizer(text):
  text = nltk.tokenize.word_tokenize(text)
  text = str.join(" ", text)
  return text

for col in text_cols:
  df[col] = df[col].apply(tokenizer)

In [22]:
df.head(2)

,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,akuntansi,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,sejarah geografi,89,petani,meninggal,golongan 2
1,teknik informatika,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,komputer,96,wirausaha,meninggal,golongan 2

### Filtering(Stop words remover)
stopword dengan sastrawi

In [23]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

factory = StopWordRemoverFactory()
stopwords = factory.get_stop_words()
print(stopwords)

['yang', 'untuk', 'pada', 'ke', 'para', 'namun', 'menurut', 'antara', 'dia', 'dua', 'ia', 'seperti', 'jika', 'jika', 'sehingga', 'kembali', 'dan', 'tidak', 'ini', 'karena', 'kepada', 'oleh', 'saat', 'harus', 'sementara', 'setelah', 'belum', 'kami', 'sekitar', 'bagi', 'serta', 'di', 'dari', 'telah', 'sebagai', 'masih', 'hal', 'ketika', 'adalah', 'itu', 'dalam', 'bisa', 'bahwa', 'atau', 'hanya', 'kita', 'dengan', 'akan', 'juga', 'ada', 'mereka', 'sudah', 'saya', 'terhadap', 'secara', 'agar', 'lain', 'anda', 'begitu', 'mengapa', 'kenapa', 'yaitu', 'yakni', 'daripada', 'itulah', 'lagi', 'maka', 'tentang', 'demi', 'dimana', 'kemana', 'pula', 'sambil', 'sebelum', 'sesudah', 'supaya', 'guna', 'kah', 'pun', 'sampai', 'sedangkan', 'selagi', 'sementara', 'tetapi', 'apakah', 'kecuali', 'sebab', 'selain', 'seolah', 'seraya', 'seterusnya', 'tanpa', 'agak', 'boleh', 'dapat', 'dsb', 'dst', 'dll', 'dahulu', 'dulunya', 'anu', 'demikian', 'tapi', 'ingin', 'juga', 'nggak', 'mari', 'nanti', 'melainkan', 'oh', 'ok', 'seharusnya', 'sebetulnya', 'setiap', 'setidaknya', 'sesuatu', 'pasti', 'saja', 'toh', 'ya', 'walau', 'tolong', 'tentu', 'amat', 'apalagi', 'bagaimanapun']

In [24]:
# Removing all the stopwords
stopwords = factory.create_stop_word_remover()

def filtering(text):
  text = stopwords.remove(text)
  return text

for col in text_cols:
  df[col] = df[col].apply(filtering)

In [25]:
#df = df.sort_values(["prodi"])

In [26]:
df.head(2)

,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,akuntansi,minat aktivitas berhubungan tugastugas rutin m...,bakat aktivitas berhubungan tugastugas rutin m...,sejarah geografi,89,petani,meninggal,golongan 2
1,teknik informatika,minat aktivitas berhubungan tugastugas rutin m...,bakat aktivitas berhubungan tugastugas rutin m...,komputer,96,wirausaha,meninggal,golongan 2

### LabelEncoder(Prodi,Ibu,Ayah,Penghasilan)

In [27]:
cols = ["prodi", "ibu", "ayah", "penghasilan"]
le = LabelEncoder()

for col in cols:
  le.fit(df[col])
  df[col] = le.transform(df[col])

In [28]:
df.head(2)

,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,2,minat aktivitas berhubungan tugastugas rutin m...,bakat aktivitas berhubungan tugastugas rutin m...,sejarah geografi,89,5,3,1
1,38,minat aktivitas berhubungan tugastugas rutin m...,bakat aktivitas berhubungan tugastugas rutin m...,komputer,96,8,3,1

### TfIdf Vectorizer(Minat,Bakat,Mapel)

In [29]:
cols = ["minat", "bakat", "mapel"]
vectorizer = TfidfVectorizer()
for col in cols:
  vectorizer.fit(df[col])
  df[col] = vectorizer.transform(df[col]).toarray()

In [30]:
df.head(2)

   prodi    minat     bakat  mapel  nilai  ibu  ayah  penghasilan
0      2  0.20106  0.199390    0.0     89    5     3            1
1     38  0.22605  0.181181    0.0     96    8     3            1

### Scalling with MinMaxScaler

In [31]:
from sklearn.preprocessing import MinMaxScaler
cols = ["nilai","ibu","ayah","penghasilan"]
scaler = MinMaxScaler()
scaler.fit(df[cols])

MinMaxScaler()

In [32]:
df[cols] = scaler.transform(df[cols])

In [33]:
df.head(2)

   prodi    minat  bakat  mapel     nilai    ibu      ayah  penghasilan
0      2  0.20106    0.0    0.0  0.927083  0.625  0.333333     0.142857
1     38  0.22605    0.0    0.0  1.000000  1.000  0.333333     0.142857

## Modelling(RandomForest)

In [34]:
df.head(2)

   prodi    minat  bakat  mapel     nilai    ibu      ayah  penghasilan
0      2  0.20106    0.0    0.0  0.927083  0.625  0.333333     0.142857
1     38  0.22605    0.0    0.0  1.000000  1.000  0.333333     0.142857

### Feature and Target

In [35]:
X = df.drop(["prodi"], axis=1)
y = df["prodi"]

* let's check the proportion of the target first

In [36]:
y.value_counts()

38    24
2     12
42     9
9      8
36     7
34     7
19     6
17     6
12     4
7      3
23     3
4      3
37     3
32     3
22     2
44     2
30     2
41     2
39     2
25     2
31     2
27     2
16     2
33     1
1      1
3      1
28     1
21     1
5      1
29     1
14     1
35     1
8      1
43     1
10     1
6      1
11     1
18     1
13     1
26     1
40     1
0      1
15     1
20     1
24     1
Name: prodi, dtype: int64

* The target was extreamly imbalanced and might effect the performance of our model

* Let's use oversampling technique to settle this.

### Oversampling with imblearn

In [37]:
from imblearn.over_sampling import RandomOverSampler

sampler = RandomOverSampler()

X, y = sampler.fit_resample(X,y)

In [38]:
y.value_counts()

2     24
39    24
11    24
23    24
10    24
43    24
12    24
8     24
3     24
16    24
14    24
30    24
41    24
5     24
21    24
25    24
1     24
33    24
7     24
28    24
29    24
18    24
37    24
38    24
26    24
36    24
42    24
9     24
22    24
34    24
32    24
6     24
13    24
40    24
35    24
19    24
17    24
44    24
27    24
20    24
31    24
15    24
0     24
4     24
24    24
Name: prodi, dtype: int64

### Train and Accuracy

* before we train our model, let's split the feature and target into train and test set

In [39]:
# split into train set and test set with 30% test size
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,
                                                    random_state=42)

In [40]:
# fit the model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

* Now let's see how accurate our model is

In [41]:
y_pred = model.predict(X_test)

print("RandomForest Accuracy Score: {:.2f}".format(accuracy_score(y_test, y_pred)))

RandomForest Accuracy Score: 0.97

* The model achieve great accuracy with 98% accuracy score

* Let's save our model for next development process

### Saving Model

In [42]:
# saving model with pickle
import pickle

pickle.dump(model, open('model.pkl', 'wb'))

### Load and Test Model

In [43]:
loaded_model = pickle.load(open('model.pkl', 'rb'))

In [44]:
y_load_pred = loaded_model.predict(X_test)

In [45]:
print("Loaded Model Accuracy: {:.2f}".format(accuracy_score(y_test, y_load_pred)))

Loaded Model Accuracy: 0.97

* Yup its working perfectly

# Random Forest Manual

In [46]:
import numpy as np
from collections import Counter
def entropy(y):
    hist = np.bincount(y)
    ps = hist / len(y)
    return -np.sum([p * np.log2(p) for p in ps if p > 0])
class Node:

    def __init__(self, feature=None, threshold=None, left=None, right=None, *, value=None):
        self.feature = feature
        self.threshold = threshold
        self.left = left
        self.right = right
        self.value = value

    def is_leaf_node(self):
        return self.value is not None

In [47]:
class DecisionTree:

    def __init__(self, min_samples_split=2, max_depth=100, n_feats=None):
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
        self.n_feats = n_feats
        self.root = None

    def fit(self, X, y):
        self.n_feats = X.shape[1] if not self.n_feats else min(self.n_feats, X.shape[1])
        self.root = self._grow_tree(X, y)

    def predict(self, X):
        return np.array([self._traverse_tree(x, self.root) for x in X])

    def _grow_tree(self, X, y, depth=0):
        n_samples, n_features = X.shape
        n_labels = len(np.unique(y))

        # stopping criteria
        if (depth >= self.max_depth
                or n_labels == 1
                or n_samples < self.min_samples_split):
            leaf_value = self._most_common_label(y)
            return Node(value=leaf_value)

        feat_idxs = np.random.choice(n_features, self.n_feats, replace=False)

        # greedily select the best split according to information gain
        best_feat, best_thresh = self._best_criteria(X, y, feat_idxs)
        
        # grow the children that result from the split
        left_idxs, right_idxs = self._split(X[:, best_feat], best_thresh)
        left = self._grow_tree(X[left_idxs, :], y[left_idxs], depth+1)
        right = self._grow_tree(X[right_idxs, :], y[right_idxs], depth+1)
        return Node(best_feat, best_thresh, left, right)

    def _best_criteria(self, X, y, feat_idxs):
        best_gain = -1
        split_idx, split_thresh = None, None
        for feat_idx in feat_idxs:
            X_column = X[:, feat_idx]
            thresholds = np.unique(X_column)
            for threshold in thresholds:
                gain = self._information_gain(y, X_column, threshold)

                if gain > best_gain:
                    best_gain = gain
                    split_idx = feat_idx
                    split_thresh = threshold

        return split_idx, split_thresh

    def _information_gain(self, y, X_column, split_thresh):
        # parent loss
        parent_entropy = entropy(y)

        # generate split
        left_idxs, right_idxs = self._split(X_column, split_thresh)

        if len(left_idxs) == 0 or len(right_idxs) == 0:
            return 0

        # compute the weighted avg. of the loss for the children
        n = len(y)
        n_l, n_r = len(left_idxs), len(right_idxs)
        e_l, e_r = entropy(y[left_idxs]), entropy(y[right_idxs])
        child_entropy = (n_l / n) * e_l + (n_r / n) * e_r

        # information gain is difference in loss before vs. after split
        ig = parent_entropy - child_entropy
        return ig

    def _split(self, X_column, split_thresh):
        left_idxs = np.argwhere(X_column <= split_thresh).flatten()
        right_idxs = np.argwhere(X_column > split_thresh).flatten()
        return left_idxs, right_idxs

    def _traverse_tree(self, x, node):
        if node.is_leaf_node():
            return node.value

        if x[node.feature] <= node.threshold:
            return self._traverse_tree(x, node.left)
        return self._traverse_tree(x, node.right)

    def _most_common_label(self, y):
        counter = Counter(y)
        most_common = counter.most_common(1)[0][0]
        return most_common

In [48]:
import numpy as np 
from collections import Counter
def bootstrap_sample(X, y):
    n_samples = X.shape[0]
    idxs = np.random.choice(n_samples, n_samples, replace=True)
    return X[idxs], y[idxs]
def most_common_label(y):
    counter = Counter(y)
    most_common = counter.most_common(1)[0][0]
    return most_common
class RandomForest:
    
    def __init__(self, n_trees=10, min_samples_split=2,
                 max_depth=100, n_feats=None):
        self.n_trees = n_trees
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
        self.n_feats = n_feats
        self.trees = []

    def fit(self, X, y):
        self.trees = []
        for _ in range(self.n_trees):
            tree = DecisionTree(min_samples_split=self.min_samples_split,
                max_depth=self.max_depth, n_feats=self.n_feats)
            X_samp, y_samp = bootstrap_sample(X, y)
            tree.fit(X_samp, y_samp)
            self.trees.append(tree)

    def predict(self, X):
        tree_preds = np.array([tree.predict(X) for tree in self.trees])
        tree_preds = np.swapaxes(tree_preds, 0, 1)
        y_pred = [most_common_label(tree_pred) for tree_pred in tree_preds]
        return np.array(y_pred)

In [49]:
def accuracy(y_true, y_pred):   
    accuracy = np.sum(y_true == y_pred)/len(y_true)   
    return accuracy

In [50]:
clf = RandomForest(n_trees=100)
clf.fit(X_train, y_train)

KeyError: "None of [Int64Index([ 80, 745, 752, 253, 644, 360,  69, 680, 194, 730,\n            ...\n            642, 588, 564, 363,  10,  11, 225, 411, 479, 375],\n           dtype='int64', length=756)] are in the [columns]"

In [ ]:
y_pred = clf.predict(X_test)
print("Accuracy: {:.2f}".format(accuracy(y_test, y_pred)))

In [51]:
pip freeze

argon2-cffi==21.3.0Note: you may need to restart the kernel to use updated packages.

argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
cffi==1.15.0
click==8.1.2
colorama==0.4.4
cycler==0.11.0
Cython==0.29.23
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.15.3
Flask==2.1.1
Flask-MySQLdb==1.0.1
fonttools==4.33.3
gensim==4.1.2
greenlet==1.1.2
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==4.11.3
ipykernel==6.13.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
mysql==0.0.3
mysqlclient==2.1.0
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
nltk==3.7
notebook==6.4.12
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.1
pure-eval==0.2.2
pycparser==2.21
Pygments==2.12.0
PyMySQL==1.0.2
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
pywin32==304
pywinpty==2.0.5
pyzmq==23.1.0
qtconsole==5.3.1
QtPy==2.1.0
regex==2022.3.15
Sastrawi==1.0.1
scikit-learn==1.0.2
scipy==1.8.0
Send2Trash==1.8.0
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.37
stack-data==0.2.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.1
widgetsnbextension==3.6.0
workbook==1.1
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
zipp==3.8.0