# Recommendation System (Random Forest)

* The main task of this notebook is to make a recommendation system using Random Forest

In [179]:
!pip install Sastrawi

Requirement already satisfied: Sastrawi in d:\dwike\skripsi\venv\lib\site-packages (1.0.1)

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'D:\Dwike\Skripsi\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [180]:
# import all the libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import re
import string

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, classification_report
from sklearn.base import BaseEstimator, TransformerMixin

# NLTK
import nltk
from nltk.tokenize import word_tokenize

# Sastrawi
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory, StopWordRemover, ArrayDictionary
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory


import warnings
warnings.filterwarnings("ignore")
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [181]:
df = pd.read_excel("train.xlsx")

In [182]:
df.head(2)

,no,nama,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,1,DYAH AYU,AKN,Minat terhadap aktivitas yang berhubungan deng...,Bakat terhadap aktivitas yang berhubungan deng...,SEJARAH. GEOGRAFI,89,PETANI,Meninggal,golongan 2
1,2,Muhammad isyak rizqi,TI,Minat terhadap aktivitas yang berhubungan deng...,Bakat terhadap aktivitas yang berhubungan deng...,komputer,96,WIRAUSAHA,Meninggal,golongan 2

* Notice that all the value of categorical columns isn't in standard value for text.

* We also going to delete `no` and `nama` columns since its was useless for our model

In [183]:
# Drop no and nama
df.drop(["no", "nama"], axis=1, inplace=True)

* next, we are going to do Text Preprocessing

## Text cleaning/Preprocessing

* There are 3 process on this section including: **case folding**, **tokenizing**, **stopword**

In [184]:
# select category columns
text_cols = df.select_dtypes(exclude="int64").columns
print(text_cols)

Index(['prodi', 'minat', 'bakat', 'mapel', 'ibu', 'ayah', 'penghasilan'], dtype='object')

### Case Folding

* There are several steps for Case Folding including:
  1. Make all text into **lowercase**
  2. Removing numbers
  3. Removing punctation
  4. Remove whitespaces

In [185]:
# 1. Make all text into lowercase
def lowercase(text):
  return text.lower()

for col in text_cols:
  df[col] = df[col].apply(lowercase)

display(df[text_cols].head(3))

,prodi,minat,bakat,mapel,ibu,ayah,penghasilan
0,akn,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,sejarah. geografi,petani,meninggal,golongan 2
1,ti,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,komputer,wirausaha,meninggal,golongan 2
2,ti,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,biologi. bahasa inggris. bahasa indonesia,ibu rumah tangga,petani,golongan 2

In [186]:
# 2. Removing numbers (excluding: penghasilan)
def remove_numbers(text):
  text = re.sub(r"\d+", "", text)
  return text

for col in text_cols[:-1]: # excluding penghasilan
  df[col] = df[col].apply(remove_numbers)

In [187]:
# 3. Removing punctation
def remove_punctation(text):
  text = text.translate(str.maketrans("","",string.punctuation))
  return text

for col in text_cols:
  df[col] = df[col].apply(remove_punctation)

In [188]:
# 4. Removing all whitespace
for col in text_cols:
  df[col] = df[col].str.strip()

In [189]:
display(df.head())

,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,akn,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,sejarah geografi,89,petani,meninggal,golongan 2
1,ti,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,komputer,96,wirausaha,meninggal,golongan 2
2,ti,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,biologi bahasa inggris bahasa indonesia,96,ibu rumah tangga,petani,golongan 2
3,te,minat terhadap aktivitas yang berkaitan dengan...,bakat terhadap aktivitas yang berkaitan dengan...,mtk,91,karyawan swasta,karyawan swasta,golongan 5
4,ti,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,bahasa inggris bahasa indonesia sejarah,96,ibu rumah tangga,pns,golongan 5

### Tokenizing

* Next steps is to do tokenizing

In [190]:
from nltk.tokenize import word_tokenize
import nltk

minat_1 = df["minat"][0]

minat_tokenizer = nltk.tokenize.word_tokenize(minat_1)
print(minat_tokenizer)

['minat', 'terhadap', 'aktivitas', 'yang', 'berhubungan', 'dengan', 'tugas', 'rutin', 'yang', 'memerlukan', 'ketelitian', 'dan', 'ketepatan', 'dalam', 'perhitungan']

In [191]:
# implement tokenizer
def tokenizer(text):
  text = nltk.tokenize.word_tokenize(text)
  text = str.join(" ", text)
  return text

for col in text_cols:
  df[col] = df[col].apply(tokenizer)

In [192]:
df.head(2)

,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,akn,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,sejarah geografi,89,petani,meninggal,golongan 2
1,ti,minat terhadap aktivitas yang berhubungan deng...,bakat terhadap aktivitas yang berhubungan deng...,komputer,96,wirausaha,meninggal,golongan 2

### Filtering(Stop words remover)

* We are going to use stopwords from Sastrawi library

* First let's see all the stopwords in it

In [193]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

factory = StopWordRemoverFactory()
stopwords = factory.get_stop_words()
print(stopwords)

['yang', 'untuk', 'pada', 'ke', 'para', 'namun', 'menurut', 'antara', 'dia', 'dua', 'ia', 'seperti', 'jika', 'jika', 'sehingga', 'kembali', 'dan', 'tidak', 'ini', 'karena', 'kepada', 'oleh', 'saat', 'harus', 'sementara', 'setelah', 'belum', 'kami', 'sekitar', 'bagi', 'serta', 'di', 'dari', 'telah', 'sebagai', 'masih', 'hal', 'ketika', 'adalah', 'itu', 'dalam', 'bisa', 'bahwa', 'atau', 'hanya', 'kita', 'dengan', 'akan', 'juga', 'ada', 'mereka', 'sudah', 'saya', 'terhadap', 'secara', 'agar', 'lain', 'anda', 'begitu', 'mengapa', 'kenapa', 'yaitu', 'yakni', 'daripada', 'itulah', 'lagi', 'maka', 'tentang', 'demi', 'dimana', 'kemana', 'pula', 'sambil', 'sebelum', 'sesudah', 'supaya', 'guna', 'kah', 'pun', 'sampai', 'sedangkan', 'selagi', 'sementara', 'tetapi', 'apakah', 'kecuali', 'sebab', 'selain', 'seolah', 'seraya', 'seterusnya', 'tanpa', 'agak', 'boleh', 'dapat', 'dsb', 'dst', 'dll', 'dahulu', 'dulunya', 'anu', 'demikian', 'tapi', 'ingin', 'juga', 'nggak', 'mari', 'nanti', 'melainkan', 'oh', 'ok', 'seharusnya', 'sebetulnya', 'setiap', 'setidaknya', 'sesuatu', 'pasti', 'saja', 'toh', 'ya', 'walau', 'tolong', 'tentu', 'amat', 'apalagi', 'bagaimanapun']

* Next let's remove all the stopword on our datasets

In [194]:
# Removing all the stopwords
stopwords = factory.create_stop_word_remover()

def filtering(text):
  text = stopwords.remove(text)
  return text

for col in text_cols:
  df[col] = df[col].apply(filtering)

In [195]:
#df = df.sort_values(["prodi"])

In [196]:
df.head(2)

,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,akn,minat aktivitas berhubungan tugas rutin memerl...,bakat aktivitas berhubungan tugas rutin memerl...,sejarah geografi,89,petani,meninggal,golongan 2
1,ti,minat aktivitas berhubungan tugas rutin memerl...,bakat aktivitas berhubungan tugas rutin memerl...,komputer,96,wirausaha,meninggal,golongan 2

### LabelEncoder(Prodi,Ibu,Ayah,Penghasilan)

In [197]:
cols = ["prodi", "ibu", "ayah", "penghasilan"]
le = LabelEncoder()

for col in cols:
  le.fit(df[col])
  df[col] = le.transform(df[col])

In [198]:
df.head(2)
# df.to_excel('data.xlsx')

,prodi,minat,bakat,mapel,nilai,ibu,ayah,penghasilan
0,2,minat aktivitas berhubungan tugas rutin memerl...,bakat aktivitas berhubungan tugas rutin memerl...,sejarah geografi,89,5,3,1
1,37,minat aktivitas berhubungan tugas rutin memerl...,bakat aktivitas berhubungan tugas rutin memerl...,komputer,96,8,3,1

* Good now let's vectorize the others

### TfIdf Vectorizer(Minat,Bakat,Mapel)

In [199]:
cols = ["minat", "bakat", "mapel"]
vectorizer = TfidfVectorizer()
for col in cols:
  vectorizer.fit(df[col])
  df[col] = vectorizer.transform(df[col]).toarray()

In [200]:
df.head(2)
# df.to_excel('data_tfidf.xlsx')

   prodi    minat     bakat  mapel  nilai  ibu  ayah  penghasilan
0      2  0.20106  0.199390    0.0     89    5     3            1
1     37  0.22605  0.181181    0.0     96    8     3            1

* Ok now all the value on our dataset are on integer format which mean now we can train our model
* N.B: All ML model only accept integer as their input

### Scalling with MinMaxScaler

In [201]:
from sklearn.preprocessing import MinMaxScaler
cols = ["nilai","ibu","ayah","penghasilan"]
scaler = MinMaxScaler()
scaler.fit(df[cols])

MinMaxScaler()

In [202]:
df[cols] = scaler.transform(df[cols])

In [203]:
df.head(2)
# df.to_excel('data_minmax.xlsx')

   prodi    minat  bakat  mapel     nilai    ibu      ayah  penghasilan
0      2  0.20106    0.0    0.0  0.927083  0.625  0.333333     0.142857
1     37  0.22605    0.0    0.0  1.000000  1.000  0.333333     0.142857

## Modelling(RandomForest)

* Now let's train our RandomForest model

In [204]:
df.head(2)

   prodi    minat  bakat  mapel     nilai    ibu      ayah  penghasilan
0      2  0.20106    0.0    0.0  0.927083  0.625  0.333333     0.142857
1     37  0.22605    0.0    0.0  1.000000  1.000  0.333333     0.142857

* Let's split our dataset into feature and target

### Feature and Target

In [205]:
X = df.drop(["prodi"], axis=1)
y = df["prodi"]

* let's check the proportion of the target first

In [206]:
y.value_counts()

37    24
2     12
41     9
10     8
36     7
34     7
18     6
17     6
11     4
29     3
5      3
8      3
0      3
38     3
4      3
26     2
12     2
39     2
23     2
27     2
25     2
24     2
42     2
21     2
6      1
20     1
33     1
28     1
32     1
14     1
31     1
1      1
9      1
30     1
16     1
3      1
15     1
19     1
35     1
40     1
13     1
7      1
22     1
Name: prodi, dtype: int64

* The target was extreamly imbalanced and might effect the performance of our model

* Let's use oversampling technique to settle this.

### Oversampling with imblearn

In [207]:
from imblearn.over_sampling import RandomOverSampler

sampler = RandomOverSampler()

X, y = sampler.fit_resample(X,y)

In [208]:
y.value_counts()

2     24
14    24
16    24
12    24
4     24
30    24
11    24
9     24
1     24
24    24
26    24
38    24
0     24
6     24
20    24
25    24
33    24
8     24
28    24
32    24
39    24
31    24
37    24
40    24
36    24
41    24
10    24
21    24
34    24
29    24
7     24
13    24
35    24
5     24
18    24
17    24
42    24
23    24
19    24
27    24
15    24
3     24
22    24
Name: prodi, dtype: int64

* Now all the target all perfectly balanced

### Train and Accuracy

* before we train our model, let's split the feature and target into train and test set

In [209]:
# split into train set and test set with 30% test size
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,
                                                    random_state=42)

In [210]:
# fit the model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

* Now let's see how accurate our model is

In [211]:
y_pred = model.predict(X_test)

print("RandomForest Accuracy Score: {:.2f}".format(accuracy_score(y_test, y_pred)))

RandomForest Accuracy Score: 0.98

* The model achieve great accuracy with 98% accuracy score

* Let's save our model for next development process

### Saving Model

In [212]:
# saving model with pickle
import pickle

pickle.dump(model, open('model.pkl', 'wb'))

### Load and Test Model

In [213]:
loaded_model = pickle.load(open('model.pkl', 'rb'))

In [214]:
y_load_pred = loaded_model.predict(X_test)

In [215]:
print("Loaded Model Accuracy: {:.2f}".format(accuracy_score(y_test, y_load_pred)))

Loaded Model Accuracy: 0.98

* Yup its working perfectly

# Saving Model Plot

In [216]:
# from sklearn.tree import export_graphviz

# estimator = model.estimators_[99]

# export_graphviz(estimator, out_file="tree.dot",
#                 feature_names = model.feature_names_in_,
#                 class_names = le.classes_,
#                 rounded=True, filled=True)

In [217]:
# import os
# os.listdir()

In [218]:
# from subprocess import call
# call(['dot', '-Tpng', 'tree.dot', '-o', 'tree.png', '-Gdpi=600'])

In [219]:
# from IPython.display import Image
# Image(filename = 'tree.png')

# Random Forest Manual

## Entropy

* Jadi untuk pertama-tama kita akan mendefinisikan `entropy`

* Entropi adalah nilai informasi yang menyatakan
ukuran ketidakpastian(impurity) dari attribut dari
suatu kumpulan obyek data dalam satuan bit.

* Entropi juga di pakai untuk menghitung **information gains**(efektivitas suatu attribute dalam pengklasifikasian)

In [220]:
import numpy as np
from collections import Counter

def entropy(y):
    hist = np.bincount(y) # np.bincount mengembalikan jumlah kemunculan tiap nilai
    ps = hist / len(y)
    # di bawah adalah formula menghitung entropy decision tree
    return -np.sum([p * np.log2(p) for p in ps if p > 0])
    
    # Node adalah cabang dari decision tree
class Node:
    def __init__(self, feature=None, threshold=None, left=None, right=None, *, value=None):
        self.feature = feature # input/feature
        self.threshold = threshold # nilai yang digunakan untuk tunning recall dan precision
        self.left = left # left node
        self.right = right # right node
        self.value = value # hasil akhir klasifikasi

    def is_leaf_node(self):
        return self.value is not None

## Decision Tree

* Decision Tree adalah struktur yang
dapat digunakan untuk membagi data yang`
besar menjadi himpunan-himpunan record
yang lebih kecil dengan menerapkan
serangkaian aturan keputusan. (Berry & Linoff)

In [221]:
class DecisionTree:

    def __init__(self, min_samples_split=2, max_depth=100, n_feats=None):
        # jika jumlah min_samples_split jumlah samples yang diperbolehkan
        # untuk di melakukan splits 
        self.min_samples_split = min_samples_split 
        self.max_depth = max_depth # jumlah maximum kedalaman suatu tree
        self.n_feats = n_feats # jumlah features
        self.root = None # root node tree

    def fit(self, X, y):
        # jumlah feature
        self.n_feats = X.shape[1] if not self.n_feats else min(self.n_feats, X.shape[1])
        # grow_tree melakukan proses pembuatan decision tree
        self.root = self._grow_tree(X, y)

    def predict(self, X): # prediksi (traverse_tree ada dibawah)
        return np.array([self._traverse_tree(x, self.root) for x in X])

    def _grow_tree(self, X, y, depth=0):
        # perbedaan antara samples dan features terlihat disini
        # samples adalah rows(baris) dan feature adalah columns(pandas)
        n_samples, n_features = X.shape
        # n_labels adalah jumlah label(unique)
        n_labels = len(np.unique(y))

        # stopping criteria
        # disini max_depth digunakan untuk mencegah tree tumbuh lebih ke bawah/dalam
        if (depth >= self.max_depth
                or n_labels == 1
                or n_samples < self.min_samples_split):
            leaf_value = self._most_common_label(y)
            return Node(value=leaf_value)

        # indeks dari tiap features
        # random.choice mengembalikan samples secara random 
        # random.choice(a(array), size=None, replace=True, p=None)
        feat_idxs = np.random.choice(n_features, self.n_feats, replace=False)

        # greedily select the best split according to information gain
        # di sini kita akan mencari feature and threshold terbaik untuk model
        # self._best_criteria ada dibawah 
        best_feat, best_thresh = self._best_criteria(X, y, feat_idxs)
        
        # grow the children that result from the split
        # left indeks dan right indeks
        left_idxs, right_idxs = self._split(X[:, best_feat], best_thresh)
        # membuat tree untuk left nodes
        left = self._grow_tree(X[left_idxs, :], y[left_idxs], depth+1)
        # membuat tree untuk right nodes
        right = self._grow_tree(X[right_idxs, :], y[right_idxs], depth+1)
        return Node(best_feat, best_thresh, left, right)

    # mencari kriteria terbaik untuk feature dan threshold
    def _best_criteria(self, X, y, feat_idxs):
        best_gain = -1 # nilai awal(akan berubah seiring pelatihan model)
        split_idx, split_thresh = None, None # nilai awal
        # di sinilah proses iterasi untuk mencari best feats dan thresh 
        for feat_idx in feat_idxs:
            X_column = X[:, feat_idx] # X[:, feats] == X[baris(: == all), kolom]
            thresholds = np.unique(X_column) # mengembalikan nilai unik dari X_col
            # iterasi untuk dalam information gains mengunakan threshold
            # remember threshold adalah nilai unik dari X_column
            for threshold in thresholds:
                # _information_gain ada dibawah
                gain = self._information_gain(y, X_column, threshold)
                
                # ingat di atas kita mendefinisikan best_gain sebagai -1
                # dan akan terus di ganti jika gain > best_gain
                # best_gain inilah yang jadi acuan mana indeks dan threshold terbaik
                if gain > best_gain:
                    best_gain = gain
                    split_idx = feat_idx
                    split_thresh = threshold

        return split_idx, split_thresh

    def _information_gain(self, y, X_column, split_thresh):
        # ingat lagi kalau entropy digunakan untuk information gain
        # disinilah entropy melakukan tugas nya
        # parent loss
        parent_entropy = entropy(y) # y adalah target

        # generate split
        # melakukan proses splitting untuk left nodes indeks dan right node indeks
        left_idxs, right_idxs = self._split(X_column, split_thresh) 

        # jika left atau right indeks tidak ada maka proses di hentikan
        # dan akan mengembalikan nilai gain menjadi 0
        if len(left_idxs) == 0 or len(right_idxs) == 0:
            return 0

        # compute the weighted avg. of the loss for the children
        # menghitung rata-rata dari child entropy
        n = len(y) 
        n_l, n_r = len(left_idxs), len(right_idxs) # n_left dan n_right
        e_l, e_r = entropy(y[left_idxs]), entropy(y[right_idxs]) # entropy left dan right
        child_entropy = (n_l / n) * e_l + (n_r / n) * e_r

        # information gain is difference in loss before vs. after split
        # information gain adalah parent entropy di kurang child entropy
        ig = parent_entropy - child_entropy
        return ig

    # fungsi untuk split 
    def _split(self, X_column, split_thresh):
        left_idxs = np.argwhere(X_column <= split_thresh).flatten()
        right_idxs = np.argwhere(X_column > split_thresh).flatten()
        return left_idxs, right_idxs

    def _traverse_tree(self, x, node):
        # fungsi is_leaf_node mengembalikan nilai node jika tidak kosong/None
        if node.is_leaf_node():
            return node.value
        # jika jumlah feature lebih kecil dari threshold
        # maka akan mengembalikan nilai node left dan jika tidak
        # maka akan mengembalikan nilai node right
        if x[node.feature] <= node.threshold:
            return self._traverse_tree(x, node.left)
        return self._traverse_tree(x, node.right)
    # fungsi untuk mengembalikan nilai yang paling banyak muncul
    def _most_common_label(self, y):
        counter = Counter(y)
        most_common = counter.most_common(1)[0][0]
        return most_common

* decision tree manual [di sini](https://towardsdatascience.com/decision-tree-part-2-34b31b1dc328)

## Random Forest

* Ingat Random Forest adalah bagian dari keluarga algoritma ensemble.
* Yang dimana, setiap keputusan di dasari dari 2 atau lebih model
* Random Forest hanyalah Model yang menggunakan 2 atau lebih model Decision Tree untuk menyelesaikan suatu permasalahan

In [225]:
import numpy as np 
from collections import Counter
def bootstrap_sample(X, y):
    n_samples = X.shape[0] # ingat sample adalah jumlah baris(rows)
    idxs = np.random.choice(n_samples, n_samples, replace=True) # indeks
#     print("idx",idsx)
    return X[idxs], y[idxs]
def most_common_label(y):
    counter = Counter(y)
    most_common = counter.most_common(1)[0][0]
    return most_common
class RandomForest:
    
    def __init__(self, n_trees=10, min_samples_split=2,
                 max_depth=100, n_feats=None):
        self.n_trees = n_trees # jumlah decision tree
        self.min_samples_split = min_samples_split # min_sample
        self.max_depth = max_depth # max_depth
        self.n_feats = n_feats # jumlah feature
        self.trees = [] # nilai awal array tree

    def fit(self, X, y):
        self.trees = []
        for _ in range(self.n_trees): # iterasi berdasarkan banyak nya n_trees
            tree = DecisionTree(min_samples_split=self.min_samples_split,
                max_depth=self.max_depth, n_feats=self.n_feats)
            X_samp, y_samp = bootstrap_sample(X, y) # sampling dari fungsi di atas
            tree.fit(X_samp, y_samp)
            self.trees.append(tree) # setiap kali model berhasil dilatih(fit)
                                    # maka akan langsung di masukan ke array trees

    def predict(self, X):
        # tree_preds adalah array yang berisi hasil prediksi tiap trees
        tree_preds = np.array([tree.predict(X) for tree in self.trees])
        tree_preds = np.swapaxes(tree_preds, 0, 1)
        # y_pred nilai setiap prediski 
        y_pred = [most_common_label(tree_pred) for tree_pred in tree_preds]
        return np.array(y_pred)

In [226]:
# fungsi untuk menghitung akurasi
# jumlah benar dibagi jumlah total
def accuracy(y_true, y_pred):   
    accuracy = np.sum(y_true == y_pred)/len(y_true)   
    return accuracy

In [227]:
clf = RandomForest(n_trees=100)
clf.fit(X_train.values, y_train.values)

In [228]:
y_pred = clf.predict(X_test.values)
print("Accuracy: {:.2f}".format(accuracy(y_test.values, y_pred)))

Accuracy: 0.98